<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="David Anderton 2013">

    <title><%= title %></title>

<!-- Latest compiled and minified CSS -->
<link href="css/Newsgrid.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <!-- Google font for logo -->
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	 <style>
	   .navbar-brand {font-family: 'Indie Flower', cursive; font-size:24px;}
	   </style>
    <!-- end google font for logo -->
<style type="text/css">
body { 
  /* padding added to support fixed navbar */
  padding-top: 70px;
}
.label-viewed {
    display: none;
    position:absolute;
    bottom:10px;
    right:10px;
}
/* prevent glyph from being cut off on the right hand side*/
.glyphicon {
    display:inline;
}
/* color for favorite glyph */
span.favorite {
    color: gold;
}

</style>
  <!-- lets get ac working -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- end jQuery-->

    <!-- time to get tooltip working -->

    <script type="text/javascript">
    $(function () {
        $(".tooltipnow").tooltip();
    });
    </script>
    <!-- end of tooltip -->

    <!-- HoverIntent start-->
    <script src="js/hoverIntent.min.js"></script>

    <!-- Lets get our fade on -->
    <script>
      $(document).ready(function() {
        $('div.col-lg-1 img').hoverIntent(function(){
            $(this).fadeTo('fast', 1);
        }, function(){
            $(this).fadeTo('fast', 0.5);
            if (!$(this).hasClass("indb")){
              var storyclass = $(this).parent().parent().attr('class').split(/\s/);
              $.post( "api/addstoryread", { "storyViewed": storyclass[storyclass.length -1]}, function() {});
              $(this).addClass("indb");
            };
      });
      $('a.externalModal').on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      $(".fullStoryModalBody").html('<iframe width="100%" height="100%" frameborder="0" scrolling="yes" allowtransparency="true" src="'+url+'"></iframe>');
      });

      
      //add and remove favorites          
      $('span.glyphicon-star').on('click',function(){ 
        var storyclass = $(this).attr('class').split(/\s/);
        
        if(!$(this).hasClass("favorite")){
          $.post( "api/addstoryfavorited", { "storyFavorited": storyclass[storyclass.length -1]}, function() {});
          $(this).addClass("favorite");
          var faveStar = "div.";
          faveStar += storyclass[storyclass.length -1];
          faveStar += " span";
          $(faveStar).show();
        
        } else {
          $.post( "api/removestoryfavorited", { "storyFavorited": storyclass[storyclass.length -2]}, function() {});
          $(this).removeClass("favorite");  
          var faveStar = "div.";
          faveStar += storyclass[storyclass.length -1];
          faveStar += " span";
          $(faveStar).hide();
        };
      });

      //get story read list and fade
      $.getJSON("/api/storyread", function( data ){
       $.each(data, function(dataElement, dataValue){
         var fadeMe = "div.";
         fadeMe += dataValue.bbcpublished; 
         fadeMe += " img";
         $(fadeMe).fadeTo('fast', 0.5);
         $(fadeMe).addClass("indb");
       });	
      });
      
      //get favorite list and show stars
      $.getJSON("/api/storyfavorited", function( data ){
       $.each(data, function(dataElement, dataValue){
         var faveMe = "span.glyphicon-star.";
         faveMe += dataValue.bbcpublished;
         var showStar = "div."
         showStar += dataValue.bbcpublished;
         showStar += " span";
         $(showStar).show(400);
         $(faveMe).addClass("favorite");
       });	
      });
      
     });
    </script>
    <!-- hoverintent finish -->

<!-- ga -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43112444-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

  <body>
    <!-- Fixed panel Navigation here -->
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">&nbsp;NewsGrid&nbsp;</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="/favorites"><span class="glyphicon glyphicon-star"></span></a></li>
            <li><a href="/popular"><span class="glyphicon glyphicon-eye-open"></span></a></li>
            <li><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span></a></li>
            <li><a href="#about"><span class="glyphicon glyphicon-info-sign"></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
	    <li><a href="/logout"><span class="glyphicon glyphicon-off"</span></a></li>
<!--            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-user"</span>
		<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li> 
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
<!--
	    <li><a href="#">Option 1</a></li>
            <li><a href="#">Option 2</a></li>
-->    
</ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <!-- Grid Container below -->
    <div class="grid-container">
      
      <div class="row">
 <% 
if (60 >= world_bbc_stories.length-1){
 var i = world_bbc_stories.length-1;
 var j = world_bbc_stories.length-1;
} else {
 var i = 60;
 var j = 60;
}
for (i; i >= 0 ; i--) { 
    // display stories currently in db %>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 <%= world_bbc_stories[i].published %>">
	  <a data-toggle="modal" href="#storyModal<%= i %>">  
	    <img data-toggle="tooltip" src="<%= world_bbc_stories[i].thumbnailbase64 %>" title="<%= world_bbc_stories[i].title %>" class="tooltipnow" />
	     <span class="label-viewed">
              <span class="label label-info"><span class="glyphicon glyphicon-star"></span></span>
            </span>
	  </a>
	</div>
<% } %>

      </div>


    </div> <!-- /container -->
  <!-- Modal -->

<% for (var j; j >= 0 ; j--) { 
    // modals for stories currently in db %>
  <div class="modal fade" id="storyModal<%= j %>" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel<%= j %>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= world_bbc_stories[j].title %></h4>
        </div>                                                                                                                 
        <div class="modal-body">
	  <div class="media">
	    <div class="pull-left">
	      <img class="thumbnail media-object" src="<%= world_bbc_stories[j].thumbnailbase64 %>">
	    </div>
	    <div class="media-body">
	      <%= world_bbc_stories[j].description %> View the <a href="<%= world_bbc_stories[j].link %>" target="_blank">[full story]</a>.
	      <a class="externalModal" data-toggle="modal" href="<%= world_bbc_stories[j].link %>" data-target="#fullStoryModal">Click me</a>
	    </div>
	  </div>              
        </div>
        <div class="modal-footer">
	  <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	    <p class="text-center"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;
	      <% if( popular_list[world_bbc_stories[j].published]){ %> 
	        <%= popular_list[world_bbc_stories[j].published] %>
	      <% } else { %> 
	        0 
	      <% }%>
	    </p>
	  </span>
	  <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	    <p class="text-center"><span class="glyphicon glyphicon-star <%= world_bbc_stories[j].published %>"></span></p>
	  </span>
	  <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	    <p class="text-center"><span class="glyphicon glyphicon-share <%= world_bbc_stories[j].published %>"></span></p>
	  </span>
	</div>
      </div><!-- /.modal-content -->                                                                                                                                               
    </div><!-- /.modal-dialog -->                                                                                                                                                  
  </div><!-- /.modal -->                                                                                                                                                           
 <% } %>
                              
<!-- fullStoryModal -->

  <div class="modal fade" id="fullStoryModal" tabindex="-1" role="dialog" aria-labelledby="fullStoryModal" aria-hidden="true">
    <div class="modal-dialog">                                                                                                                                                     
      <div class="modal-content">
        <div class="modal-header">
        </div>                                                                                                                 
        <div class="modal-body fullStoryModalBody">

	  Modal Body 2
        </div>
        <div class="modal-footer">
	</div>
      </div><!-- /.modal-content -->                                                                                                                                               
    </div><!-- /.modal-dialog -->                                                                                                                                                  
  </div><!-- /.modal -->                                                                                                                               

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43112444-1', 'thenewsgrid.com');
  ga('send', 'pageview');

</script>

</body>

<!--Davidanderton2013--></html>

